html {
  background-color: #03AD88; }

html {
  font-family: lato;
  font-size: 62.5%; }

.container {
  margin: 0;
  display: grid;
  grid-template-rows: min-content 100vh repeat(4, min-content); }

.menubar {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  height: 6.35rem;
  grid-row: 1/2;
  grid-column: 1/-1;
  z-index: 500; }
  .menubar__nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: rows; }
  .menubar__menus {
    list-style: none;
    color: #fff;
    width: 50%;
    margin-right: auto; }
  .menubar__menus--catagories {
    list-style: none;
    color: #fff;
    width: 50%;
    margin-right: auto; }
  .menubar__menus--left--d {
    list-style: none;
    color: #fff;
    margin-left: auto;
    grid-column: 7; }
  .menubar__menus--left--lin {
    list-style: none;
    color: #e9e0e0;
    margin-left: auto;
    grid-column: 8; }
  .menubar__menus--left--su {
    list-style: none;
    color: #e9e0e0;
    margin-left: auto;
    grid-column: 9;
    margin-right: 2rem; }
  .menubar__menus--search {
    box-sizing: border-box;
    list-style: none;
    color: #e9e0e0;
    width: 50%;
    margin-right: auto;
    grid-column: 2/ 4; }
  .menubar__logo {
    width: 12rem;
    height: 7.5rem;
    margin-top: -1.9rem;
    justify-self: center;
    align-self: center;
    grid-column: 5; }
  .menubar__menu {
    transition: all .2s; }
  .menubar__menu:not(.menubar__menus--search):hover {
    color: #474948;
    cursor: pointer;
    transform: scale(1.12); }
  .menubar__menu:not(.menubar__menus--search):active {
    color: #474948;
    transform: translateY(3px); }
  .menubar .search {
    box-sizing: border-box;
    border-radius: 100px;
    outline: none;
    background-color: rgba(231, 231, 218, 0.418);
    border: none;
    padding: 0.2rem;
    padding-left: 0.5rem;
    transition: all 0.2s;
    color: #2c2b29;
    grid-row: 1/1;
    grid-column: 1/1; }
    .menubar .search__icon {
      height: 2rem;
      fill: #3d3b3b;
      width: 2rem;
      grid-row: 1/1;
      grid-column: 1/1;
      align-self: end;
      justify-self: end;
      padding-right: 0.5rem; }
    .menubar .search__icon:hover {
      fill: #108b62; }
    .menubar .search__icon:active {
      fill: #03AD88; }
  .menubar .search__container:hover {
    width: 100%;
    margin-top: 0.35rem;
    box-sizing: border-box;
    border-radius: 35px;
    outline: none;
    transform: scaleY(1.2) scaleX(1.3);
    padding: 0.2rem;
    padding-left: 0.5rem; }
  .menubar .search__container:focus-within {
    margin-top: 0.35rem;
    box-sizing: border-box;
    border-radius: 35px;
    transform: scaleY(1.2) scaleX(1.3);
    padding: 0.2rem;
    padding-left: 0.5rem;
    margin-right: 10px; }
  .menubar .search__container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
    transition: all 0.2s;
    margin-top: 0.5rem;
    transform: scaleY(1.2);
    transition: all 0.2s; }

.card {
  background-color: white; }
  .card__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 27rem);
    padding: 7rem 0;
    padding-bottom: 13rem;
    align-content: center;
    justify-content: center;
    grid-gap: 3rem; }
    .card__container--1, .card__container--2, .card__container--3, .card__container--4 {
      align-self: center;
      justify-self: center;
      box-shadow: 0px 4px 23px -1px rgba(0, 0, 0, 0.61); }
    .card__container--image--insider {
      width: 27rem;
      height: 17rem; }
    .card__container--name {
      font-size: 1.75rem;
      font-weight: 400;
      color: #03AD88;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 2rem;
      width: 100%; }
    .card__container--enroll--link {
      display: block;
      font-size: 2.75rem;
      background-color: #03AD88;
      padding: 1rem;
      font-weight: 500;
      color: white;
      margin-top: 2.4rem;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s; }
      .card__container--enroll--link:hover {
        background-color: #03c69c;
        transition: all 0.2s; }
      .card__container--enroll--link:active {
        transform: translateY(3px); }
    .card__container--teacher {
      font-size: 1.3rem;
      font-weight: 300;
      margin-left: 2rem; }

.catagories {
  display: grid;
  grid-auto-flow: column;
  font-size: 2.5rem;
  padding-top: 3.5rem;
  padding-left: 7.5rem; }
  .catagories__link {
    text-decoration: none;
    color: #dce2e7;
    display: block;
    transition: all 0.2s; }
    .catagories__link:hover {
      transform: translateY(-3px);
      color: #bfdcf7;
      transition: all 0.2s; }
    .catagories__link:active {
      transform: translateY(-1px); }

.catagories__container {
  background-image: linear-gradient(to bottom, rgba(254, 203, 64, 0.5), rgba(3, 173, 136, 0.5));
  font-size: 2.5rem; }
  .catagories__container--difficulty {
    color: #FECB40;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10rem;
    padding-top: 5rem;
    padding-bottom: 7rem;
    padding-left: 9rem;
    padding-right: 10rem;
    align-items: center;
    justify-items: center; }
  .catagories__container--subject {
    font-weight: 800; }

.parents {
  background-size: 100vh;
  z-index: 500;
  background-color: white; }
  .parents__image {
    width: 100%;
    height: 100%; }

.welcome {
  grid-row: 1/3;
  grid-column: 1/-1;
  background-image: linear-gradient(to right bottom, rgba(3, 173, 136, 0.93), rgba(254, 203, 64, 0.93)), url(../../img/content-small.jpg);
  background-size: cover;
  z-index: 5; }
  .welcome__text {
    text-align: center;
    font-size: 3rem;
    margin-top: 10rem;
    line-height: 1;
    color: #060e33; }
  .welcome__h1 {
    animation: moveinright 1s cubic-bezier(0.19, 1.33, 1, 1.3); }
  .welcome__h4 {
    animation: moveinleft 1s cubic-bezier(0.19, 1.33, 1, 1.3); }
  .welcome__options {
    margin-top: 7rem;
    text-decoration: none;
    font-size: 2.5rem;
    display: grid;
    grid-gap: 3rem;
    animation: moveup 1s;
    backface-visibility: hidden; }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    opacity: 1;
    ransform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.footer {
  background-image: linear-gradient(to right bottom, rgba(39, 37, 37, 0.93), rgba(48, 47, 47, 0.93));
  color: #b6adad;
  display: grid; }
  .footer__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%; }
    .footer__container--about {
      font-size: 1.5rem;
      padding: 2rem;
      padding-bottom: 3.4rem; }
    .footer__container--adress {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      padding: 3rem;
      font-weight: 800;
      color: #e2d4d4;
      padding: 3rem;
      margin: 2.7rem; }
      .footer__container--adress--link {
        margin-top: 2rem;
        color: #03AD88;
        font-size: 2.54rem;
        text-decoration: none;
        transition: all 0.2s; }
        .footer__container--adress--link:hover {
          color: #04d0a4; }
  .footer__copyright {
    align-self: end;
    justify-self: end;
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem; }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btnwhite {
  text-decoration: none;
  justify-self: center;
  align-self: center;
  background-color: #e9e0e0;
  border-radius: 35px;
  color: #474948;
  padding: 1.5rem 4rem;
  transition: all 0.2s;
  box-shadow: -1px 3px 44px -4px rgba(0, 0, 0, 0.55);
  position: relative; }

.btnwhite:hover {
  transform: translateY(-3px);
  box-shadow: -1px 3px 44px -4px rgba(0, 0, 0, 0.55); }

.btnwhite:active {
  transform: translateY(1px);
  box-shadow: 0 2px 15px -2px rgba(0, 0, 0, 0.55); }

.btnwhite::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #d2dbc3; }

.btnwhite:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.intermediate--button {
  color: aliceblue;
  font-size: 2rem;
  display: block;
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  line-height: 13rem;
  width: 100%;
  border-radius: 10000px;
  padding: 0 .5rem;
  background-color: #F178AD;
  box-shadow: -1px 3px 23px 2px rgba(0, 0, 0, 0.56);
  transition: all 0.2s; }

.begineer--button {
  color: aliceblue;
  display: block;
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  line-height: 11rem;
  width: 100%;
  border-radius: 10000px;
  padding: 0 2.5px;
  background-color: #F178AD;
  box-shadow: -1px 3px 23px 2px rgba(0, 0, 0, 0.56);
  transition: all 0.2s; }

.advanced--button {
  color: aliceblue;
  display: block;
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  line-height: 12rem;
  width: 100%;
  border-radius: 10000px;
  padding: 0 2.5px;
  background-color: #F178AD;
  box-shadow: -1px 3px 23px 2px rgba(0, 0, 0, 0.56);
  transition: all 0.2s; }

.intermediate--button:hover,
.advanced--button:hover,
.begineer--button:hover {
  transform: translateY(-3px);
  box-shadow: -1px 3px 23px 2px rgba(0, 0, 0, 0.56);
  transition: all 0.2s; }

.intermediate--button:active,
.advanced--button:active,
.begineer--button:active {
  transform: translateY(-1px);
  box-shadow: -1px 3px 17px 1px rgba(0, 0, 0, 0.37); }

.begineer--button::after,
.advanced--button::after,
.intermediate--button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #e937b4; }

.begineer--button:hover::after,
.intermediate--button:hover::after,
.advanced--button:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }
