//colors

$color-primary-1: #03AD88;
$color-secondary-1: #FECB40;
$color-tertiary-1: #F178AD;
$color-tertiary-2: #66C7F0;
$color-font-1 : rgba($color: #474948, $alpha: 1.0);
$color-font-light :  rgb(233, 224, 224);
$color-font-3 : rgb(39, 37, 37);
$color-font-4 : rgb(48, 47, 47);
$color-font-5 : rgb(51, 50, 50) ;


html{

    background-color: $color-primary-1;
    
}
/*
grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];




*/