.btnwhite
    {
        text-decoration: none;
        justify-self: center;
        align-self: center;
        background-color: $color-font-light;
        border-radius: 35px;
        color: $color-font-1;
        padding: 1.5rem 4rem;
        transition: all 0.2s;
        box-shadow: -1px 3px 44px -4px rgba(0,0,0,0.55);
        position: relative;

    }
    .btnwhite:hover
    {
        transform: translateY(-3px);
        box-shadow: -1px 3px 44px -4px rgba(0,0,0,0.55);

    }
    .btnwhite:active,
    
    {
        transform: translateY(1px);
        box-shadow: 0 2px 15px -2px rgba(0,0,0,0.55);
    }
    .btnwhite::after
    {
        content: "";
        display: inline-block;
       height: 100%;
       width: 100% ;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        -webkit-transition: all .4s;
        transition: all .4s; 
        background-color: /*$color-font-light*/ rgb(210, 219, 195) ;
      

    }
    .btnwhite:hover::after
    {
        -webkit-transform: scaleX(1.4) scaleY(1.6);
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0 ;

    }

    
    
    .intermediate--button

    
    {
    font-size: 2rem;
    display: block;
    text-align: center;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    line-height: 13rem;
    width: 100%;
    border-radius: 10000px;
    padding: 0 .5rem ;
    background-color: $color-tertiary-1;

   }
    .begineer--button
     {
        display: block;
        text-align: center;
        justify-self: center;
        align-self: center;
        text-decoration: none;
        line-height: 11rem;
        width: 100%;
        border-radius: 10000px;
        padding: 0 2.5px;
        background-color: $color-tertiary-1;

    }
    .advanced--button
    {
        display: block;
        text-align: center;
        justify-self: center;
        align-self: center;
        text-decoration: none;
        line-height: 12rem;
        width: 100%;
        border-radius: 10000px;
        padding: 0 2.5px;
        background-color: $color-tertiary-1;

 
    }
    