.card
{
background-color: transparent;
width: 100vw ;

&__container
{
display: grid;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fill, minmax(32rem, min-content))  ;
padding-top: 7rem  ;
//padding-bottom: 3.5rem ;
align-content: center;
justify-content: center;
grid-gap: 1.5rem;
//width: 98vw ;



@media only screen  and (max-width : 51.5em) {
    grid-template-columns: repeat(auto-fill, minmax(49rem, min-content))  ;
   
}
@media only screen  and (max-width : 25.15em) {
    grid-template-columns: repeat(auto-fill, minmax(51rem, min-content))  ;
   
  }

&--1,
&--2,
&--3,
&--4
{
    display: grid;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 24px 35px -12px rgba(0,0,0,0.58);
    margin: 0.5rem 1rem;
    margin-bottom: 4rem;

}
// &--1
// {
// grid-column: 1/2 ;
    
//}
&--image--insider
{

    width: 100% ;
   // height: 17rem;
}


&--name
{
    font-size: 1.75rem;
    font-weight: 400;
    color: $color-primary-1;
    margin-top: 1.5rem ;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    width: 100%
}

&--enroll--link
{
display: block;
font-size: 2rem;
background-color: $color-primary-1;
padding: 1rem;
font-weight: 500;
color: white;
margin-top: 2.4rem;
text-align: center;
text-decoration: none;
transition: all 0.2s;

 
    &:hover
    {
        background-color: lighten($color-primary-1, 5%);
        transition: all 0.2s;
    }
    &:active
    {

        transform: translateY(3px);
        
    }

}
&--teacher
{
    font-size: 1.3rem;
    font-weight: 300;
    margin-left: 2rem;


}
}    



}