.parents
{
    //background-image: linear-gradient(to  bottom ,rgba($color-secondary-1, .2), rgba($color-primary-1, .2)) ;
background-size: 100vh;
//z-index: 0;
background-color: white;

&__image
{
width: 98vw;
height: 100%;
margin-left: 10px;

}

} 